<div class="container-big-card">
    <div class="big-card-photo">
        <img src="{{photoCover}}" >
    </div>

    <div class="big-card-title">
        <h1><a href="">{{cardTitle}}</a></h1>
    </div>
    <div class="big-card-description">
        <p> <a href="https://www.espn.com.br/futebol/artigo/_/id/9177748/cristiano-ronaldo-reestreia-pelo-manchester-united-de-onde-surgiu-sua-comemoracao-iconica-craque-lembra-primeira-vez-que-fez-e-explica">{{cardDescription}}</a></p>      
    </div>
</div>