<p [ngClass]="estilo">comp-atributos works!</p>
<button (click)="trocar()">trocar</button>
<H1 [ngStyle]="{'background':corFundo, 'color':corFonte}">Curso Angular</H1>
 

<h1>Lista de compras</h1>
<p>Adicione um item</p>
<input type="text" [(ngModel)]="item">
<button (click)="adicionarLista()">ADICIONAR</button>
<p>{{ item }}</p>

<ul>
    <li *ngFor="let elemento of lista"> {{ elemento }}</li>
  </ul>
  
  @if (isEnableBlock) {
    
        <a href="#">Finalizar compra</a> <br>
  
  }
 
  <ng-template [ngIf]="true">
    <a href="#">ADICIONAR AO CARRINHO</a>
  </ng-template>

  <ng-content select="h2"></ng-content>